.image-holder{
    border-radius:50%;
    background-color:var(--primary-color);
    display:flex;
    align-items:center;justify-content:center;
    margin:2em;
}
#me{
    width:8rem;
    height:8rem;
    border-radius:50%;
    margin:5px;
    border:5px solid var(--bg-color);
}

#intro-1{
    padding:12rem 0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.column{
    align-items:start;
    justify-content:center;
}

.im{
    font-size:1.2em;
    font-weight:200;
}

.mobile-social{
    display:none;
    animation: mobilesocialicon 1s linear 250ms 1 forwards;

}

.intro-buttons{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
}

@media (pointer:none), (pointer:coarse) {
    #intro-1{
        flex-direction:column-reverse;
        padding:6.5vh 10vh;
    }
    #me{
        margin:1px;
    }
    .column{
        align-items:center;
        text-align:center;
    }
    .mobile-social{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-evenly;
    }
    .intro-buttons{
        flex-direction:column;
    }
}

@keyframes mobilesocialicon {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
